[submodule "frontend"]
	path = frontend
	url = https://github.com/R1013-T/giftjob-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/R1013-T/giftjob-backend
[submodule "ai"]
	path = ai
	url = https://github.com/R1013-T/giftjob-ai
